@import url(http:fonts.googleapis.com/css?family=Nunito:400,700);
body{
  margin: 0;
  color: #c9c4c3;
  background-color: #000000;
  font-family: 'Nunito', sans-serif;
}
#header {
  background-color: #C50000;
  height: 150px;
  line-height: 150px;
}
#header-title {
  display: block;
  float: left;
  font-size:20px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
#header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #FFFFFF;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.post-author img, .about-author img {
  border-radius: 50%;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #535353;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #C2C2C2;
}
p {
  line-height: 1.5;
}
#footer {
  background-color: #f2f2f2;
  padding: 50px 0;
}
#footer h4 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: black;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
a {
  color: #C60000;
  text-decoration: none;
}
a:hover {
  color: #FF7F00;
}
.post-container:nth-child(even) {
  background-color: #2f2f2f;
}
.post-content img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
